<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generator SYSTEM "NewFile.dtd" >
<generator>
	<jdbcInfo>
        <driver>com.mysql.jdbc.Driver</driver>
        <url>jdbc:mysql://127.0.0.1:3306/saizhi?useUnicode=true&amp;characterEncoding=UTF8&amp;useSSL=false</url>
        <username>root</username>
        <password>123456</password>
        <table>big_match</table>
        <entity></entity>
        <camel>true</camel>
    </jdbcInfo>
    <typeConvertList>
    	<typeConvert java="String" jdbc="VARCHAR"/>
    	<typeConvert java="String" jdbc="CHAR"/>
    	<typeConvert java="String" jdbc="TEXT"/>
    	<typeConvert java="Integer" jdbc="INT"/>
    	<typeConvert java="Integer" jdbc="TINYINT"/>
    	<typeConvert java="Integer" jdbc="SMALLINT"/>
    	<typeConvert java="Integer" jdbc="TINYINT"/>
    	<typeConvert java="Integer" jdbc="INTEGER"/>
    	<typeConvert java="Long" jdbc="BIGINT"/>
    	<typeConvert java="Double" jdbc="DOUBLE"/>
    	<typeConvert java="Double" jdbc="FLOAT"/>
    	<typeConvert java="Date" jdbc="DATE"/>
    	<typeConvert java="Date" jdbc="DATETIME"/>
    	<typeConvert java="Date" jdbc="TIME"/>
    	<typeConvert java="Date" jdbc="TIMESTAMP"/>
    	<typeConvert java="BigDecimal" jdbc="DECIMAL"/>
    </typeConvertList>
    <templateList>
        <templateItem>
            <templateFile>codeGenerator/mysql_template.xml</templateFile>
            <targetProject>src.main.resources</targetProject>
            <targetPackage>com.fline.dao.${table}</targetPackage>
            <targetFileName>${entity}Mapper.xml</targetFileName>
        </templateItem>
        <templateItem>
            <templateFile>codeGenerator/service_template.java</templateFile>
            <targetProject>src.main.java</targetProject>
            <targetPackage>com.fline.service.${table}</targetPackage>
            <targetFileName>${entity}Service.java</targetFileName>
        </templateItem>
        <templateItem>
        	<templateFile>codeGenerator/controller_template.java</templateFile>
        	<targetProject>src.main.java</targetProject>
            <targetPackage>com.fline.controller.${table}</targetPackage>
            <targetFileName>${entity}Controller.java</targetFileName>
        </templateItem>
        <templateItem>
        	<templateFile>codeGenerator/entity_template.java</templateFile>
        	<targetProject>src.main.java</targetProject>
            <targetPackage>com.fline.entity</targetPackage>
            <targetFileName>${entity}.java</targetFileName>
        </templateItem>
    </templateList>
</generator>