<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fline.entity.BigMatchMapper">
    <resultMap id="BaseResultMap" type="com.fline.entity.BigMatch">
        <id column="id" jdbcType="Integer"
        property="id" />
        <result column="name" jdbcType="String"
        property="name" />
        <result column="areaId" jdbcType="Integer"
        property="areaId" />
        <result column="areaName" jdbcType="String"
        property="areaName" />
        <result column="subject_Id" jdbcType="Integer"
        property="subject_Id" />
        <result column="subjectName" jdbcType="String"
        property="subjectName" />
        <result column="banner" jdbcType="String"
        property="banner" />
        <result column="starttime" jdbcType="Date"
        property="starttime" />
        <result column="endtime" jdbcType="Date"
        property="endtime" />
        <result column="memo" jdbcType="String"
        property="memo" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="Integer">
        delete from big_match
        <where>
            id = #{id,jdbcType=INT}
        </where>
    </delete>
    <update id="updateByPrimaryKey" parameterType="com.fline.entity.BigMatch">
        update big_match
        <set>
            
            name = name,
            areaId = areaId,
            areaName = areaName,
            subject_Id = subject_Id,
            subjectName = subjectName,
            banner = banner,
            starttime = starttime,
            endtime = endtime,
            memo = memo,
        </set>
        <where>
            id = #{id,jdbcType=INT}
        </where>
    </update>
    <insert id="insert"
        parameterType="com.fline.entity.BigMatch">
        insert into sys_role (
        <trim suffixOverrides=",">
            id,name,areaId,areaName,subject_Id,subjectName,banner,starttime,endtime,memo,
        </trim>
        )
        values (
        <trim suffixOverrides=",">
#{id,jdbcType=INT},#{name,jdbcType=VARCHAR},#{areaId,jdbcType=INT},#{areaName,jdbcType=VARCHAR},#{subject_Id,jdbcType=INT},#{subjectName,jdbcType=VARCHAR},#{banner,jdbcType=VARCHAR},#{starttime,jdbcType=TIMESTAMP},#{endtime,jdbcType=TIMESTAMP},#{memo,jdbcType=VARCHAR},
        </trim>
        )
    </insert>
</mapper>